= form_for [:admin, @post], html:{onsubmit: 'return getMarkdownContent(this)', id:'postEditorForm'} do |f|
  - if @post.errors.any?
    div#error_explanation
      h2 = pluralize(@post.errors.count, "error")
        |prohibited this post from being saved:

      - @post.errors.full_messages.each do |message|
        li = message

  div.form-group
    = f.text_field :title, placeholder: 'title, like: Welcome, Hacker Man', class: 'post_title'
  div.form-group
    = f.text_field :slug, placeholder: 'slug, for example: hacker_man', class: 'post_title'

  = f.text_area :raw_content, style: 'display:none'
  div#postEditor = @post.raw_content || '# Hi, Hacker Man'

  div.form-group
    = f.text_field :tag_list, placeholder: 'tag list with separator of \",\" ', class: 'post_title'

  div.actions
    = f.submit class: 'btn btn-primary'

javascript:
  $(document).ready(function(){
    $('#postEditor').markdownEditor({
      imageUpload: true,
      uploadPath: '/admin/images',
      preview: true,
      theme: 'tomorrow',
      theme_second: 'tomorrow_night',
      onPreview: function (content, callback) {
        $.ajax({
          url: '#{convert_admin_posts_path}',
          type: 'POST',
          dataType: 'html',
          data: {content: content},
        })
        .done(function(result) {
          // Return the html:
          callback(result);
        });
      }

    });
  });

  function getMarkdownContent(form){
    $("#post_raw_content").val($('#postEditor').markdownEditor('content'));
    return true;
  }