/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
 font-size: 16px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}

blockquote{
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #1b809e;
}

p, ol, ul{
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 1em;
}

pre[class*='language-'] > code[data-language] {
  overflow: initial;
  max-height: none;
}

.post-content{
  img{
    width: 100%;
  }
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  font-weight: 500;
  color: #563d7c;
}
