<footer class="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col-sm-6 col-lg-6">
        <h1>
          Techer Man
        </h1>
        <p>Tech Man 是一个的技术博客, 由 <a href="https://github.com/chadlwm">Chad Liu</a> 基于 <a href="http://www.bootcss.com/">Bootstap</a> 和 <a href="http://rubyonrails.org/">Rails</a> 搭建， Enjoy Your Time !</p>
      </div>
      <div class="col-sm-6  col-lg-5 col-lg-offset-1">
        <div class="row about">
          <div class="col-xs-4">
            <h4>联系方式</h4>
            <ul class="list-unstyled">
              <li><a href="mailto:chad_lwm@hotmail.com">电子邮件</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>相关链接</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/chadlwm" title="Chad's github" target="_blank">GitHub</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h4>友情链接</h4>
            <ul class="list-unstyled">
              <li><a href="http://ginchenorlee.com/" title="Byronlee's Blog #在闹市中修行#" target="_blank">Byronlee</a></li>
              <li><a href="https://openxid.com" title="田咖啡's Blog #在闹市中修行#" target="_blank">田咖啡</a></li>
              <li><a href="http://anye.coding.io" title="一个人兜兜转转's Video #暗夜、TV#" target="_blank">一个人兜兜转转</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>